<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    {% get_static_prefix as STATIC_PREFIX %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SCIng - Sistema Administrativo</title>
    <link href="{{STATIC_PREFIX}}css/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{STATIC_PREFIX}}css/theme.css" rel="stylesheet">
</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                SCIng Admin-v0.4</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/manual/"><i class="fa fa-book"></i> Manual de Uso</a>
                    </li>
                    <li>
                        <a href="/documentacion/"><i class="fa fa-file-o"></i> Documentacion</a>
                    </li>
                    <li>
                        <a href="/estadisticas/"><i class="fa fa-line-chart"></i> Informes</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    {% block content %}
    
    {% endblock %}
    
</body>

</html>