{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h3>Importar datos (parcial)</h3>
        <div class="well" role="alert">
            <p><strong>Instrucciones de uso:</strong>
            Seleccione un archivo para importar datos al sistema</p>
            <p>
            <strong>ADVERTENCIA:</strong>
             No se pueden deshacer los cambios despues de subir un archivo a la
             base de datos, asegurese de que los datos son correctos antes de importar y haga un respaldo a la base de datos.</span>
            </p>
        </div>
        <hr>
        <form class="form-inline" method="POST" enctype="multipart/form-data">
            <legend>Importar datos de estudiantes</legend>
            {% if form.errors %}
            <div class="alert alert-danger" role="alert"><strong>Por favor corrija los errores a continuacion:</strong>
                {{ form.errors }}
            </div>
            {% endif %}
            <p>El archivo debe contener los siguientes campos EN FORMATO TSV:</p>
            <ol>
                <li>Marca Temporal.</li>
                <li>Del estudiante:
                    <ol>
                        <li>Apellidos.</li>
                        <li>Nombres.</li>
                        <li>Cedula de Identidad.</li>
                        <li>Telefono de habitacion.</li>
                        <li>Telefono celular.</li>
                        <li>Email ULA.</li>
                        <li>Email alternativo.</li>
                        <li>Carrera.</li>
                        <li>Semestre de Induccion.</li>
                    </ol>
                </li>
                <li>Del tutor:
                    <ol>
                        <li><u>Numero de Induccion.</u></li>
                    </ol>
                </li>
                <li>Del proyecto:
                    <ol>
                        <li><u>Codigo: Titulo.</u></li>
                    </ol>
                </li>
                <li>De la Comunidad
                    <ol>
                        <li><u>Nombre de la comunidad o institucion.</u></li>
                        <li><u>RIF.</u></li>
                        <li>Sector.</li>
                        <li>Parroquia.</li>
                        <li>Municipio.</li>
                        <li>Estado.</li>
                        <li><u>Nombre del Supervisor.</u></li>
                        <li><u>Telefono institucional.</u></li>
                        <li><u>Telefono celular.</u></li>
                        <li><u>Email.</u></li>
                        <li><u>Cargo.</u></li>
                    </ol>
                </li>  
            </ol>
            <p>Los campos subrayados son los identificadores unicos de cada entidad</p>
            <br>
            <div class="form-group">
                <label for="file">Archivo</label>
                <input type="file" class="form-control" id="file" name="file">
            </div>
            {% csrf_token %}
            <button type="submit" class="btn btn-default">Importar</button>
        </form>
        <hr>
        <div class="alert alert-warning" role="alert"><strong>ADVERTENCIA:</strong> la importacion fallará o quedará incompleta si el archivo es incorrecto o está mal formado.</div>
        
    </div>
{% endblock %}
