{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h3>Importar datos</h3>
        <div class="well" role="alert">
            Opciones para importar datos:
            <ol>
                <li>Importe total: el programa intentará agregar los estudiantes con todos sus datos y creará todos los campos necesarios según la información dada en el archivo</li>
                <li>Importe total: el programa solo insertará nuevos estudiantes, comunidades y asesores comunitarios y asumirá que los proyectos, tutores, semestres y facultades correspondientes ya están creadas en la base de datos.</li>
            </ol>
        </div>
        <p class="text-center">
          <a href="/importar/total/" class="btn btn-primary btn-lg">Importe Total</a>
          <a href="/importar/parcial/" class="btn btn-default btn-lg">Importe Parcial</a>
        </p>
        <hr>
    </div>
{% endblock %}
