<!DOCTYPE html>
<html lang="es">
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SCIng - Sistema Administrativo</title>

    <link href="{{STATIC_PREFIX}}css/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{STATIC_PREFIX}}css/theme.css" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                SCIng Admin-v0.4</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#"><i class="fa fa-book"></i> Manual de Uso</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-file-o"></i> Documentacion</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
        	<div class="col-lg-12">
            		<img class="center-block" src="{{STATIC_PREFIX}}img/ula-logo.png" width="144">
           		</div>
            <div class="col-lg-12 text-center">
                <h1 class="text-primary">SCIng Admin-v0.3 ALPHA</h1>
                <p class="lead">Bienvenido al Sistema Administrativo<br> de la Oficina de la Comision Sectorial
                 del Servicio Comunitario<br> Facultad de Ingeniería</p>
                
                <a href="/admin/" class="btn btn-primary btn-lg">Ingresar</a>
                <br><br>
                <address>
				  <strong>Oficina Sectorial de Servicio Comunitario FI.</strong><br>
				  Facultad de Ingeniería<br>
				  Mérida, Edo. Mérida<br>
				  <i class="fa fa-phone"> </i> (0274)240-3871<br>
				  <i class="fa fa-envelope-o"></i> scing@ula.ve<br>
				   <i class="fa fa-envelope-o"></i> serviciocomunitariofi@gmail.com
				</address>
            </div>

        </div>
    </div>

</body>

</html>